.footer {
  height: 77px;
}

.footer__conteiner {
  border-top: 1px solid #fff;
}

.footer__list {
  display: inline-block;
  margin-left: 175px;
  
}

.footer__item {
  margin-top: 33px;
  margin-left: 5px;
  display: inline-block;
}

.contacts__footer {
  margin-top: 42px;
}

.contacts__call {
  padding-left: 28px;
  width: 163px;
  height: 20px;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
}
