.footer {
  margin-top: auto;
}

.footer__conteiner {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 42px;
  padding-bottom: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.logo__footer {
  margin-right: 81px;
  display: block;
}

.menu--footer {
  margin-top: 0;
}

.footer__list {
  display: flex;
  margin-right: 62px;
  
}

.footer__item {
  margin-right: 10px;
}

.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.footer__item--icon--telegram .social__link::before {
  content: "";
  width: 36px;
  height: 36px;
  background: url(../../img/sprites.png) -122px -10px;
  display: block;
  position: absolute;
  opacity: 1;
}

.footer__item--icon--telegram .social__link::after{
  content: "";
  width: 36px;
  height: 36px;
  background: url(../../img/sprites.png) -122px -66px;
  display: block;
  transition: .4s;
  position: absolute;
  opacity: 0;
}

.footer__item--icon--telegram .social__link:hover::after {
  opacity: 1;
}

.footer__item--icon--vk .social__link::before {
  content: "";
  width: 36px;
  height: 36px;
  background: url(../../img/sprites.png) -10px -122px;
  display: block;
  position: absolute;
  opacity: 1;
}

.footer__item--icon--vk .social__link::after{
  content: "";
  width: 36px;
  height: 36px;
  background: url(../../img/sprites.png) -66px -122px;
  display: block;
  position: absolute;
  transition: .4s;
  opacity: 0;
}

.footer__item--icon--vk .social__link:hover::after {
  opacity: 1;
}

.footer__item--icon--facebook .social__link::before {
  content: "";
  width: 36px;
  height: 36px;
  background: url(../../img/sprites.png) -10px -10px;
  display: block;
  position: absolute;
  opacity: 1;
}

.footer__item--icon--facebook .social__link::after{
  content: "";
  width: 36px;
  height: 36px;
  background: url(../../img/sprites.png) -66px -10px;
  display: block;
  position: absolute;
  transition: .4s;
  opacity: 0;
}

.footer__item--icon--facebook .social__link:hover::after {
  opacity: 1;
}

.footer__item--icon--instagram .social__link::before {
  content: "";
  width: 36px;
  height: 36px;
  background: url(../../img/sprites.png) -10px -66px;
  display: block;
  position: absolute;
  opacity: 1;
}

.footer__item--icon--instagram .social__link::after{
  content: "";
  width: 36px;
  height: 36px;
  background: url(../../img/sprites.png) -66px -66px;
  display: block;
  position: absolute;
  transition: .4s;
  opacity: 0;
}

.footer__item--icon--instagram .social__link:hover::after {
  opacity: 1;
}

.contacts__footer {
  float: right;
  display: block;
}


.contacts__call {
  padding-left: 28px;
  width: 192px;
  height: 20px;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
}