.footer {
  margin-top: auto;
}

.footer__conteiner {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 42px;
  padding-bottom: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.logo__footer {
  margin-right: 81px;
  display: block;
}

.menu--footer {
  margin-top: 0;
}

.footer__list {
  display: flex;
  margin-right: 62px;
  
}

.footer__item {
  margin-right: 10px;
}

.social__logo {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.footer__item--icon--telegram .social__logo {
  background-image: url(../../img/telegram.png);
}

.footer__item--icon--telegram .social__logo:hover {
  background-image: url(../../img/telegram-hover.png);
}

.footer__item--icon--vk .social__logo {
  background-image: url(../../img/vk.png);
}

.footer__item--icon--vk .social__logo:hover {
  background-image: url(../../img/vk-hover.png);
}

.footer__item--icon--facebook .social__logo {
  background-image: url(../../img/facebook.png);
}

.footer__item--icon--facebook .social__logo:hover {
  background-image: url(../../img/facebook-hover.png);
}

.footer__item--icon--instagram .social__logo {
  background-image: url(../../img/instagram.png);
}

.footer__item--icon--instagram .social__logo:hover {
  background-image: url(../../img/instagram-hover.png);
}

.contacts__footer {
  float: right;
  display: block;
}


.contacts__call {
  padding-left: 28px;
  width: 192px;
  height: 20px;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
}