.header {
  padding-top: 24px;
}

.header__conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}

.logo {
  display: block;
  margin-right: 85px;
}

.menu__list {
  display: flex;
  
}

.menu__item {
  margin-right: 52px;
}

.menu__link {
  width: 56px;  
  height: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.contacts {
  padding-top: 6px;
  text-align: right;
}

.contacts__phone {
  width: 191px;
  height: 35px;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}

.contacts__schedule {
  text-decoration-line: underline;
  width: 190px;
  height: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}