.hello {
  min-height: 577px;
  margin-top: 120px;
}

.hello__title {
  width: 511px;
  font-weight: 700;
  font-size: 72px;
  line-height: 94px;
  margin-bottom: 33px;
}

.hello__subtitle {
  width: 196px;
  height: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 33px;
}

.button {
  display: inline-block;
  cursor: pointer;
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 40px ;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.button:hover {
  background: #DA0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
  border-radius: 35px;
  color: #fff;
}