.news {
  min-height: 600px;
  margin-bottom: 107px;
}

.news__title {
  width: 325px;
  height: 49px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 48px;
  
}

.news__list {
  padding: 0%;
}

.news__item {
  display: inline-block;
  width: 557px;
  vertical-align: top;
  position: relative;
  margin-right: 24px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px 30px;
  min-height: 140px;
}

.news__date {
  width: 94px;
  min-height: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 14px;
}

.news__text {
  width: 417px;
  min-height: 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 2px;
}

.news__lead {
  width: 483px;
  min-height: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.paginator {
  text-align: center;
}

.paginator__display, .paginator__list, .paginator__item {
  display: inline-block;
  vertical-align: middle;
}

.paginator__display {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-left: 40px;
}

.paginator__list {
  padding: 21px;
}

.paginator__link:hover {
  background: #FFFFFF;
  color: #F5170E;
}

.paginator__item--active .paginator__link {
  color: #F5170E;
  background: #fff;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
}
