.news {
  min-height: 717px;
}

.news__title {
  width: 325px;
  height: 49px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 48px;
  
}

.news__list {
  margin-bottom: 47px;
  display: flex;
  justify-content: space-between;
}

.news__item {
  height: 394px;
  margin-right: 24px;
  flex: 1;
}

.single-news {
  position: relative;
  overflow: hidden;
}

.news__item:last-child {
  margin-right: 0;
}

.single-news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.single-news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px 29px;
  min-height: 146px;
}

.single-news__date {
  width: 94px;
  min-height: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 13px;
}

.single-news__text {
  width: 417px;
  min-height: 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 3px;
}

.single-news__lead {
  width: 483px;
  min-height: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator__list {
  display: flex;
  align-items: center;
} 


.paginator__item {
text-align: center;
}

.paginator__display {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-left: 7px;
}

.paginator__list {
  padding: 3px 12px 4px 22px;
}

.paginator__link:hover {
  background: #FFFFFF;
  color: #F5170E;
}

.paginator__item--active .paginator__link {
  color: #F5170E;
  background: #fff;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
}
