.offers {
  height: 560px;
  margin-bottom: 118px;
}

.title--fire {
  width: 330px;
  height: 49px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 51px;
}

.title--fire:after {
  content: url(../../img/fire.png);
} 

.offers__list {
  padding: 0%;
}

.offers__item {
  height: 450px;
  display: inline-block;
  margin-bottom: 33px;
  margin-right: 24px;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__header {
  width: 362px;
  height: 144px;
}

.offers__content {
  width: 362px;
  height: 305px;
  background: #fff;
}

.offers__title {
  padding-left: 22px;
  padding-top: 33px;
  width: 108px;
  height: 33px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin-bottom: 21px;
}

.offers__features {
  padding-left: 27px;
}

.offers__feature {
  display: inline-block;
  margin-right: 36px;
}

.offers__feature-img, .offers__feature-text {
  display: inline-block;
}

.offers__feature-text {
  color: #666666;
  margin-left: 2px;
}

.offers__text {
  width: 324px;
  height: 63px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #303030;
  padding: 18px 20px;
  margin-bottom: 23px;
}

.button--light {
  padding: 17px 29px;
  border-radius: 35px;
  margin-left: 24px;
  background: #fff;
  border: 1px solid #F5170E;
  color: #f5170e ;
  width: 135px;
  height: 55px;
}

.button--light:hover {
  background: #DA0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
  border-radius: 35px;
  color: #fff;
}
